<!--下記記述はrails c でも確認可能-->
<% if @student.errors.any? %>
  <%= pluralize(@student.errors.count, "error") %>
  prohibited your profile from being created
  <ul>
    <% @student.errors.full_messages.each do |message| %>
      <li><%= message %>
    <% end %>
  </ul>
<% end %>

<!--中央に寄せるのでcontainer-->
<!--このままだとpaddingがないので、scssに記述-->
<div class="container">
  <!--sign-up-formはscss用のclass-->
  <div class="row center sign-up-form">
    <div class="col s12 m12 l12">
      <!--文字通りカードのように浮き上がらせて表示-->
      <div class="card-panel">
        <h3 class="header">Sign Up!</h3>
        <div class="row">
            <!-- form_for @student do |f| これが元の書式-->
            <%= form_for(@student, html: {class: "col s12"}) do |f| %>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.text_field :name, placeholder: "Enter your full name", autofocus: true %>
                  <%= f.label :name %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.text_field :email, placeholder: "Enter your email address" %>
                  <%= f.label :email %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <!--classは下記のように連続して記述-->
                  <%= f.submit "Sign up", class: "btn orange waves-effect waves-light right" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  